{% comment %} <div id="create-contract-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <form id="create-contract-form" method="post" action="{% url 'ContractsClientes:create' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h2 id="modal-title">Gerar Novo Contrato</h2>
                <button type="button" class="close-button">&times;</button>
            </div>

            <div class="modal-body">
                <p class="text-muted">Selecione um cliente e um modelo de acordo</p>

                <!-- Campo Cliente com a estrutura floating-label -->
                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="{{ form.client.html_name }}"
                        id="{{ form.client.id_for_label }}" required>
                        {% for value, text in form.client.field.choices %}
                        {% if value %} {# Filtra a opção vazia gerada pelo Django #}
                        <option value="{{ value }}">{{ text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="{{ form.client.id_for_label }}">Cliente</label>
                </div>

                <!-- Campo Modelo de Contrato com a estrutura floating-label -->
                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="{{ form.template.html_name }}"
                        id="{{ form.template.id_for_label }}" required>
                        {% for value, text in form.template.field.choices %}
                        {% if value %} {# Filtra a opção vazia gerada pelo Django #}
                        <option value="{{ value }}">{{ text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="{{ form.template.id_for_label }}">Modelo de Contrato</label>
                </div>

                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="{{ form.servicos.html_name }}"
                        id="{{ form.servicos.id_for_label }}" required>
                        {% for value, text in form.servicos.field.choices %}
                        {% if value %}
                        <option value="{{ value }}">{{ text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="{{ form.servicos.id_for_label }}">Protocolo do Serviço</label>
                </div>

                <!-- Espaço para mensagens de erro -->
                <div id="form-errors" class="text-danger mt-3"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="button-secondary cancel-btn">Cancelar</button>
                <button type="submit" class="button-primary">Gerar Contrato</button>
            </div>
        </form>
    </div>
</div> {% endcomment %}


<div id="create-contract-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <form id="create-contract-form" method="post" action="{% url 'ContractsClientes:create' %}">
            {% csrf_token %}
            <div class="modal-body">
                <p class="text-muted" id="TituloAddContractCliente">Selecione um cliente e um modelo de acordo</p>

                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="client" id="id_client_select" required>
                        <option value="" disabled selected>Selecione um cliente</option>
                        {% for value, text in form.client.field.choices %}
                        {% if value %}
                        <option value="{{ value }}">{{ text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="client">Cliente</label>
                </div>


                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="service" id="id_service_select" required>
                        <option value="" disabled selected>Selecione um Protocolo de Serviço</option>
                    </select>
                    <label for="id_service_select">Protocolo do Serviço</label>
                </div>


                <div class="form-group floating-label">
                    <select class="SelectedItemModal" name="templateModel" id="id_template_select" required>
                        <option value="" disabled selected>Selecione um modelo</option>
                        {% for value, text in form.template.field.choices %}
                        {% if value %}
                        <option value="{{ value }}">{{ text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="id_template_select">Modelo de Contrato</label>
                </div>


                <div id="form-errors" class="text-danger mt-3">
                

                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="button-secondary cancel-btn" id="cancel-new-contract-btn">Cancelar</button>
                <button type="submit" id="ButtonSubmitModalAddNewContract" class="button-primary">Gerar
                    Contrato</button>
            </div>
        </form>
    </div>
</div>