<div id="customer-modal" class="modal">
    <div class="modal-content">
        <form id="customer-form">
            <div class="modal-header">
                <h2 id="modal-title">Cadastrar Novo Cliente</h2>
                <button type="button" class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-grid">
                    <div class="form-group floating-label">
                        <input type="text" id="firstName" name="firstName" placeholder=" " required>
                        <label for="firstName">Nome</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" id="lastName" name="lastName" placeholder=" " required>
                        <label for="lastName">Sobrenome</label>
                    </div>
                     <div class="form-group floating-label full-width">
                        <input type="email" id="email" name="email" placeholder=" " required>
                        <label for="email">E-mail</label>
                    </div>

                    <div class="form-group floating-label">
                        <input type="text" id="cpf" name="cpf" placeholder=" " required>
                        <label for="cpf">Cpf</label>
                    </div>

                    <div class="form-group floating-label">
                        <input type="tel" id="phone" name="phone" placeholder=" ">
                        <label for="phone">Telefone</label>
                    </div>
                    <div class="form-group floating-label full-width">
                        <input type="text" id="address" name="address" placeholder=" " required>
                        <label for="address">Endereço</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" id="company" name="company" placeholder=" ">
                        <label for="company">Empresa</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" id="position" name="position" placeholder=" ">
                        <label for="position">Cargo</label>
                    </div>
                    <!-- <div class="form-group floating-label full-width">
                        <input type="url" id="photoUrl" name="photoUrl" placeholder=" ">
                        <label for="photoUrl">URL da Foto</label>
                    </div> -->
                    <div class="form-group full-width">
                        <label for="photoUpload" id="drag-drop-area">
                            <div id="preview-container">
                                <img id="preview-image" src="#" alt="Pré-visualização">
                                <button type="button" id="remove-file-btn" title="Remover imagem">&times;</button>
                            </div>

                            <div id="drag-drop-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z" />
                                    <path
                                        d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                </svg>
                                <p><strong>Arraste e solte a foto aqui</strong></p>
                                <span>ou clique para selecionar</span>
                            </div>

                            <div id="file-name-container">
                                <span id="file-name"></span>
                            </div>
                        </label>
                        <input type="file" id="photoUpload" name="photoUpload" accept="image/*" hidden>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-secondary cancel-btn">Cancelar</button>
                <button type="submit" class="button-primary" id="save-customer-btn-form" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022z"></path>
                    </svg>
                    Salvar Cliente
                </button>
            </div>
        </form>
    </div>
</div>