<div id="service-modal" class="modal">
    <div class="modal-content">
        <form id="service-form">
            <div class="modal-header">
                <h2 id="service-modal-title">Adicionar Novo Serviço</h2>
                <button type="button" class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group floating-label">
                    <input type="text" id="serviceName" placeholder=" " required>
                    <label for="serviceName">Nome do Serviço</label>
                </div>

                <div class="form-group floating-label">
                    <input type="text" id="ServiceProtocolo" placeholder=" " required>
                    <label for="ServiceProtocolo">Protocolo do Serviço</label>
                </div>

                <div class="form-group floating-label">
                    <select id="AreaDireitoAdmin" required>
                        {% for direito in direitos %}
                            <option value="{{ direito.id }}">{{ direito.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="AreaDireitoAdmin">Escolha a Especialidade Jurídica do Serviço</label>
                </div>


                <div class="form-group floating-label">
                    <textarea id="serviceDescription" placeholder=" " rows="2"></textarea>
                    <label for="serviceDescription">Descrição</label>
                </div>

                <div class="form-group floating-label">
                    <select id="paymentType" required>
                        <option value="avista" selected>À Vista</option>
                        <option value="parcelado">Parcelado</option>
                    </select>
                    <label for="paymentType">Tipo de Pagamento</label>
                </div>

                <div class="form-group floating-label">
                    <input type="date" id="firstPaymentDate" required>
                    <label for="firstPaymentDate">Data do 1º Pagamento</label>
                </div>

                <div class="form-grid">
                    <div class="form-group floating-label">
                        <input type="number" id="serviceValue" placeholder=" " required min="0" step="0.01">
                        <label for="serviceValue">Valor Total (R$)</label>
                    </div>
                    <div id="entry-value-group" class="form-group floating-label hidden">
                        <input type="number" id="serviceEntryValue" placeholder=" " min="0" step="0.01">
                        <label for="serviceEntryValue">Valor da Entrada (R$)</label>
                    </div>
                </div>

                <div id="parcelamento-group" class="hidden">
                    <div class="form-grid">
                        <div id="installments-group" class="form-group floating-label">
                            <input type="number" id="serviceInstallments" placeholder=" " min="1" step="1">
                            <label for="serviceInstallments">Qtd. de Parcelas</label>
                        </div>
                        <div class="form-group floating-label">
                            <input type="number" id="serviceInterest" placeholder=" " value="0" min="0"
                                step="0.01">
                            <label for="serviceInterest">Juros Mensal (%)</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="button-secondary cancel-btn">Cancelar</button>
                <button type="submit" class="button-primary">Adicionar Serviço</button>
            </div>
        </form>
    </div>
</div>