 <div id="delete-confirmation-modal" class="modal">
    <div class="modal-content" style="max-width: 450px;">
        <div class="modal-header">
            <h2 id="delete-modal-title">Confirmar Exclusão</h2>
            <button type="button" class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <p id="delete-modal-text">Você tem certeza que deseja excluir o cliente?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="button-secondary cancel-btn">Não, Cancelar</button>
            <button type="button" id="delete-confirm-btn" class="button-primary danger">Sim, Excluir</button>
        </div>
    </div>
</div>

