{% comment %} <div class="header-right">
    <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
</div> {% endcomment %}
<div id="menu-btn">
  <span>Menu</span>
</div>

<div class="theme-switcher">
  <input type="checkbox" id="menu-btn-darkmode" class="theme-toggle" />
  <label for="menu-btn-darkmode" class="toggle-label">
    <div class="sun"></div>
    <div class="moon"></div>
  </label>
</div>